@import "tailwindcss";

@theme {
  --color-primary: #1e40af;
  --color-secondary: #3b82f6;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-dark: #1f2937;
  --color-light: #f9fafb;
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-muted: #6b7280;
}
